// Global Styles
@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Sora", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

// Utility Classes
// .u-text-center {
//   text-align: center;
// }
