.header-cta {
  width: 422px;
  display: flex;
  justify-content: flex-end;
}

.button_cta {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 23.8px;
  position: relative;
  color: #ffffff;

  &__text {
    border-width: 1.5px 0px 1.5px 0px;
    border-style: solid;
    border-color: #ffffff1a;
    width: 162px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  &__icon {
    display: inline-block;
    width: 27px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  // &__icon--left {
  // }

  // &__icon--right {
  // }

  &:hover {
    &__text {
      background-color: #ffffff;
      color: #1d58f5;
    }
  }
}

.profile-block {
  position: relative;
  display: flex;
  gap: 34px;
  flex-direction: column;
  padding: 30px;
  border-radius: 18px;
  color: #000000;
  text-transform: uppercase;
  background: linear-gradient(180deg, #5edfff 0%, #1d58f5 100%);
  z-index: 1;
  box-shadow: 0px 2.77px 3.02px 0px #00000030, 0px 6.65px 7.25px 0px #00000023,
    0px 12.52px 13.65px 0px #0000001d, 0px 22.34px 24.35px 0px #00000018,
    0px 41.78px 45.54px 0px #00000014, 0px 100px 109px 0px #0000000e;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(180deg, #1d58f5 0%, #65ddfb 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 12px;
    line-height: 14.4px;
    color: #000000;
    font-weight: 600;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__divider {
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid #000000;
  }

  &__points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;

    &-label {
      font-size: 12px;
      line-height: 14.4px;
      font-weight: 400;
    }
    &-value {
      font-size: 24px;
      line-height: 28.8px;
      font-weight: 800;
    }
  }

  &__progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-bar {
      width: 100%;
      height: 6px;
      background-color: #d9d9d9;
      overflow: hidden;
      position: relative;

      &-fill {
        height: 100%;
        background-color: #000000;
        transition: width 0.3s ease;
      }
    }

    &-label {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      line-height: 15.6px;
      font-weight: 400;
    }
  }
}

.three-column-block {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ffffff;

    &-heading {
      width: 225px;
      flex-shrink: 0;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    &-sub {
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__card {
    background-color: #10173b;
    padding: 40px 20px;
    border-radius: 18px;
    border: 1px solid #ffffff1a;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.4;
    }

    &--hovered .three-column-block__card-number {
      background: url("assets/images/material-symbols_check.svg") no-repeat
        center center;
      background-size: contain;
      color: transparent;
    }

    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-subtitle {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: -0.02em;
      font-weight: 400;
      background: linear-gradient(180deg, #1d58f5 0%, #65ddfb 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: #ffffff;
    }

    &-number {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.02em;
      font-weight: 400;
      transition: opacity 0.3s;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &-title {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 19.2px;
      font-weight: 800;
    }

    &-text {
      font-size: 14px;
      line-height: 25.2px;
      font-weight: 400;
    }
  }
}

.text-image-block {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ffffff;

    &-heading {
      width: 225px;
      flex-shrink: 0;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    &-sub {
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
    }
  }

  &__content {
    background-color: #10173b;
    border: 1px solid #ffffff1a;
    border-radius: 18px;
    display: flex;
  }

  &__text {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 99px;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &-title {
      font-size: 34px;
      line-height: 40.8px;
      font-weight: 800;
      text-transform: uppercase;
    }

    &-text {
      font-size: 14px;
      line-height: 25.2px;
      font-weight: 400;
    }
  }

  &__image {
    max-width: 480px;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 18px 18px 18px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
    }

    &::before {
      top: 0;
      left: 0;
      width: 160px;
      height: 100%;
      background: #10173b;
      clip-path: polygon(0 0, 100% 0, 0 100%);
    }

    &::after {
      bottom: 0;
      right: 0;
      width: 80px;
      height: 50%;
      background: linear-gradient(180deg, #e0eaf7 0%, #f1f4fe 100%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
      border-radius: 0 0 18px 0;
    }
  }
}
