.header {
  background: linear-gradient(90.2deg, #010411 0%, #09103a 100%);
  display: flex;
  text-align: center;
  position: relative;

  &__container {
    max-width: 1296px;
    width: 100%;
    padding: 24.5px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &__logo {
    width: 422px;
    display: flex;
    justify-content: flex-start;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  &__cta {
    width: 422px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 496px) {
      display: none;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      white-space: nowrap;
      padding: 10px 20px;

      a {
        text-decoration: none;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;

        &:hover {
          color: #005bb5;
        }
      }
    }
  }

  &__mobile-menu-icon {
    display: none;
    cursor: pointer;

    span {
      background: #ffffff;
      border-radius: 2px;
      display: block;
      height: 3px;
      margin: 5px 0;
      width: 25px;
    }
  }

  &__mobile-menu {
    display: none;
    flex-direction: column;
    background: #09103a;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;

    &--open {
      display: flex;
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 10px 20px;

        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 21px;
          color: #ffffff;

          &:hover {
            color: #005bb5;
          }
        }
      }
    }
  }

  @media (max-width: 1324px) {
    padding: 10px;
  }

  @media (max-width: 976px) {
    flex-direction: column;
    align-items: flex-start;

    &__nav {
      display: none;
    }

    &__mobile-menu-icon {
      display: flex;
      flex-direction: column;
    }
  }
}

.homepage {
  position: relative;
  background: linear-gradient(180deg, #09103a 0%, #010411 100%);
  overflow: hidden;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
    backdrop-filter: blur(7px);
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding: 84px 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 976px) {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &__content {
    max-width: 966px;
  }

  &__sidebar {
    flex: 0 0 306px;
  }

  @media (max-width: 1324px) {
    padding: 10px;
  }
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
